{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/normalize.css">
    <title>LisovenkovaAds</title>
</head>
<body>
    <a href="{{ ads.ads_url }}" target="_blank"><img src="{% static 'images/close-menu.svg' %}" alt="Close" style="position: absolute; top: 20px; right: 40px; width: 20px; background-color: lightgray; padding: 3px; border-radius: 3px;">
        <img src="{{ ads.ads_image.url }}" alt="Изображение" style="display: flex; justify-content: center;"></a>
</body>
</html>